[submodule "Crystal"]
	path = Crystal
	url = https://github.com/kijin-Kim/Crystal.git
	branch = master
[submodule "IOCP-Server"]
	path = IOCP-Server
	url = https://github.com/omegabunh/IOCP-Server.git
	branch = main
